## Homework 5

This homework is based on the data from the ThinkStats book.
We are looking at live births only and want to compare the relationship `totalwgt_lb ~ agepreg` between first born babies and others.


1. For the first born babies: Estimate a linear regression, modeling weight of the baby as a function of the mothers' age: .
    * Compute a $95 \%$ confidence interval for the slope.
    * Compute the RSS.
    * Predict the birth weight for a baby whose mothers' age is $30$.
    
2. Repeat the tasks above for the "others" (not-first born) and discuss the difference.

In [3]:
%run ../Lessons/ourFunctions.py
import statsmodels.api as sm
import statsmodels.formula.api as smf

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
#pregnancy data:
preg=pd.read_hdf('../data/pregNSFG.h5', 'df')
#only look at live births
live = preg[preg.outcome == 1]
live.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

In [8]:
firsts = live[live.birthord == 1]
others = live[live.birthord != 1]

In [48]:
def ols(births):
    est = smf.ols('totalwgt_lb ~ agepreg', births).fit()
    print("RSS: ", np.round(est.ssr,1))
    PredWeight = est.predict(exog=pd.DataFrame([30],columns = ["agepreg"]))
    print("predicted weight:", PredWeight)
    print(est.conf_int())
    
    CI= {"lower":est.params -1.96* est.bse, "upper": est.params + 1.96* est.bse}
    print(pd.DataFrame(data=CI))
    
    return est.summary().tables[1]

In [49]:
ols(firsts)

RSS:  8772.3
predicted weight: 0    7.30985
dtype: float64
                  0         1
Intercept  6.648846  7.025794
agepreg    0.007796  0.023706
              lower     upper
Intercept  6.648895  7.025745
agepreg    0.007799  0.023703

In [50]:
ols(others)

RSS:  9055.9
predicted weight: 0    7.376541
dtype: float64
                  0         1
Intercept  6.714877  7.129299
agepreg    0.007520  0.022777
              lower     upper
Intercept  6.714927  7.129249
agepreg    0.007522  0.022775